@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
:root {
  --font-color: #2b3747;
  --font-style: "Roboto", sans-serif;
  --light-font-style: "Nunito", sans-serif;
  --section-color: #0c2a3c;

  --background-color: #ecfafe;

  --footer-color: #1b222b;

  --border-impact: #0f97b4;
  --hover-impact: #0c677c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
}
body {
  min-height: 100vh;
  font-family: "poppins";
}
section {
  padding-top: 50px;
  margin: 40px;
}
img {
  image-rendering: pixelated;
  vertical-align: middle;
  object-fit: cover;
}
ul li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
a {
  cursor: pointer;
}
/*  Basic setup */

.showcase {
  position: relative;

  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 5;
}

.showcase header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.welcome {
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 1.5rem;
  padding-left: 20px;
  left: 0;
}
.welcome span:nth-child(2) {
  display: block;
  font-size: 1rem;
  border: 1px solid white;
  width: 60%;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
/* show case end */

/*  menu-nav  start*/
.menu-nav {
  display: none;
}
/* menu-nav end */

/* quote-naro start */
.quote-naro {
  width: 80%;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  padding-top: 50px;
  color: black;
}
.quote-naro span:nth-child(1) {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.quote-naro span:nth-child(2) {
  font-size: 0.8rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.quote-naro a {
  font-size: 1rem;
  border: 1px solid white;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--font-color);
  width: 50%;
  margin: 0 auto;
}
/* quote-naro end */
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* test */

/* test end */
/* sidebar nav-start */

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background: var(--section-color);
  width: 200px;
  height: 100%;
  transition: all 0.9s;
  z-index: 3;
}
.active {
  right: 0;
  transition: all 0.9s;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0;
  top: 0;
  position: absolute;
  display: flex;

  flex-direction: column;
}
.sidebar .text {
  display: flex;
  flex-direction: column;
}
.sidebar .text a {
  display: flex;
  flex-direction: column;
}
.sidebar .text .rent-class {
  display: none;
  flex-direction: column;
  font-size: 1rem;
}
.sidebar .text:hover .rent-class {
  display: flex;
}
.sidebar .text .rent-class a:hover {
  color: var(--hover-impact);
}
.sidebar .text .rent-class a {
  transition: ease-in-out 0.4s;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 20px;
  color: #fff;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.sidebarBtn {
  position: absolute;
  top: 5px;
  left: -50px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebarBtn i {
  font-size: 1.5rem;
}

/* sidebar nav-end*/
.menu ul {
  display: none;
}
.menu ul li a {
  font-size: 18px;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
/* rent-name start */

.rent-name {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-top: 10px;
  top: 20px;
  position: relative;
}
/* rent-name end */
/*  rent slide image start */

.swiper-container {
  width: 100%;
  height: 100%;
}
.exquisite {
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container .swiper-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper-container .studio-contents {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.swiper-container .studio-contents-container ul:nth-child(3) {
  display: none;
}
.swiper-container .studio-contents span:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  padding: 10px;
  font-size: 2.4rem;
}
.swiper-container .studio-contents span:nth-child(2) {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.swiper-container .studio-contents .studio-contents-container {
  display: flex;
  justify-content: space-between;
}
.swiper-container .studio-contents .studio-contents-container ul li {
  padding: 5px;
  font-size: 1rem;
}
.swiper-container .studio-contents .studio-contents-container ul li i {
  padding-right: 5px;
  color: #0c2a3c;
}
/* button color */
.swiper-button-next,
.swiper-button-prev {
  color: red;
}
/* button color */
/* arrow style */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  top: 35% !important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  top: 35% !important;
}

/*  arrow style end */
/* get-in-touch start */
.get-in-touch {
  width: 100%;
  background: var(--section-color);
  padding: 0;
  margin: 0;
  height: 140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-in-touch span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 800;
  padding: 10px;
}
.get-in-touch span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: lighter;
}
.get-in-touch span:nth-child(3) {
  border: 1px solid white;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.9rem;
}
.get-in-touch span {
  transition: ease-in-out 0.3s;
}
.get-in-touch span:nth-child(3):hover {
  background: var(--hover-impact);
}

/* get-in-touch end */

/* gallery start */
.gallery span {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 5px;
}
.gallery .gallery-grid img {
  width: 100%;
  height: 100%;
}
/* gallery end */

/* review start */

.review {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background: var(--background-color);
  padding-bottom: 50px;
}
.review span {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 15px;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(200px, 210px));
  width: 80%;
  grid-gap: 10px;
  position: relative;
  margin: 0 auto;
  object-fit: cover;
}
.review-container span {
  font-size: 0.9rem;
  background: white;
  top: 40%;
}
.review {
  image-rendering: pixelated;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.review-container div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.review-1 {
  background: url("pics/review-1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.review-2 {
  background: url("pics/review-2.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.review-3 {
  background: url("pics/review-3.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.review-4 {
  background: url("pics/review-4.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.review-1:hover {
  background: url("pics/family-1.jpg");
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-position: center;
}
.review-2:hover {
  background: url("pics/family-2.jpg");
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-position: center;
}
.review-3:hover {
  background: url("pics/family-3.jpg");
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-position: center;
}
.review-4:hover {
  background: url("pics/family-4.jpg");
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-position: center;
}
/* review- reveiw effect */
.review-container .clients-review div span {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 0.9rem;
  padding: 5px;
  color: white;
  opacity: 0;
  user-select: none;
}
.review-container .clients-review div span i {
  display: none;
}
.review-container .clients-review div span:hover {
  opacity: 1;
}
/* review- reveiw effect end */
/* footer start */
.place-to-lay {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: var(--footer-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer end */

/* test */

/* gallery ends*/

/* img hover start */
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .swiper-container .studio-contents-container ul:nth-child(3) {
    display: block;
  }
  .showcase,
  .overlay,
  .video video {
    height: 600px;
  }
  .test,
  .test-1 {
    width: 80%;
    margin: 0 auto;
  }
  .review .review-container {
    height: 500px;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .swiper-container .studio-contents .studio-contents-container ul li {
    font-size: 1.4rem;
  }
  /* menu setting start */
  .sidebar {
    display: none;
  }
  .menu-nav {
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
    transition: ease-in-out 0.4s;
  }
  .menu-nav a:hover {
    color: var(--hover-impact);
  }
  /* menu setting end */
  .showcase,
  .overlay,
  .video video {
    height: 800px;
  }
  /* test start */
  .test {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .test-0 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background: var(--section-color);

    padding: 0;
    color: white;
  }

  /* test-end */

  .test-0 .studio-contents .studio-contents-container ul li i {
    color: white;
  }
  .swiper-container .studio-contents .studio-contents-container {
    justify-content: space-evenly;
  }
  .swiper-container .studio-contents span:nth-child(1) {
    width: 50%;
    justify-content: center;
  }

  .swiper-container .swiper-wrapper img {
    height: 500px;
  }
  /* gallery start */
  .gallery .gallery-grid {
    width: 60%;
    margin: 0 auto;
  }
  /* gallery end*/
  /* welcom start */

  .welcome {
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .welcome span:nth-child(2) {
    width: 10%;
  }
  /* welcom end */
  /* featured life style start */

  .exquisite {
    width: 40%;
    height: 250px;
    position: absolute;
    background: #08202c;
    left: 70%;
    bottom: 100px;
    z-index: 4;
    display: flex;
    flex-direction: column;
  }
  .exquisite span:nth-child(1) {
    font-size: 1rem;
    padding: 30px;
    color: #0f97b4;
  }
  .exquisite span:nth-child(2) {
    font-size: 1.4rem;
    padding-left: 30px;
  }
  .exquisite span:nth-child(3) {
    font-size: 0.8rem;
    padding: 5px;
    width: 30%;
    text-align: left;
    border: 1px solid #0f97b4;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
  }

  /* featured life style end*/
  .get-in-touch {
    height: 200px;
  }
  .review .review-container {
    height: 700px;
    width: 60%;
  }
  .review-container .clients-review div span i {
    display: flex;
  }
  /* featured life style end*/
  /*  */
  .sub-menu {
    display: none;
  }
  .menu-nav li:hover .sub-menu {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px 15px;
    justify-content: center;
    margin: 8px;
  }

  .menu-nav ul li:hover {
    color: var(--hover-impact);
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
  }
  /*  */
  .rent-name {
    margin: 0;
  }
}
