@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
:root {
  --font-color: #2b3747;
  --font-style: "Roboto", sans-serif;
  --light-font-style: "Nunito", sans-serif;
  --section-color: #0c2a3c;

  --background-color: #ecfafe;

  --footer-color: #1b222b;

  --border-impact: #0f97b4;
  --hover-impact: #0c677c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
}
body {
  min-height: 100vh;
  font-family: "poppins";
}
section {
  padding-top: 50px;
  margin: 40px;
}
img {
  image-rendering: pixelated;
  vertical-align: middle;
  object-fit: cover;
}
ul li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
a {
  cursor: pointer;
}
/*  Basic setup */

.showcase {
  position: relative;

  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 5;
}

.showcase header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

/* show case end */

/*  menu-nav  start*/
.menu-nav {
  display: none;
}
/* menu-nav end */

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar nav-start */

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background: var(--section-color);
  width: 200px;
  height: 100%;
  transition: all 0.9s;
  z-index: 3;
}
.active {
  right: 0;
  transition: all 0.9s;
}
.sidebar ul {
  margin: 0;
  padding: 20px 0;
  top: 0;
  position: absolute;
  display: flex;

  flex-direction: column;
}
.sidebar .text {
  display: flex;
  flex-direction: column;
}
.sidebar .text a {
  display: flex;
  flex-direction: column;
}
.sidebar .text .rent-class {
  display: none;
  flex-direction: column;
  font-size: 1rem;
}
.sidebar .text:hover .rent-class {
  display: flex;
}

.sidebar ul li {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 20px;
  color: #fff;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}
.sidebar ul a:hover {
  color: #0f97b4;
}
.sidebar ul a {
  transition: ease-in-out 0.4s;
}
.sidebarBtn {
  position: absolute;
  top: 5px;
  left: -50px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebarBtn i {
  font-size: 1.5rem;
}

/* sidebar nav-end*/
.menu ul {
  display: none;
}
.menu ul li a {
  font-size: 18px;
}

/* basic setup end */
.contact-form {
  width: 90%;
  background: #ffffffa8;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;

  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}
.contact-form {
  margin-top: 0;
  font-weight: 200;
}
.contact-form h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.textb {
  border: 1px solid white;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.textb label {
  display: block;
  text-align: left;
  font-size: 1.3em;
}
.textb input {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 1em;

  border-bottom: 1px solid var(--section-color);
}
.textb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--section-color);
  display: flex;
  align-items: center;
}
.btn {
  display: block;
  font-size: 1.2rem;
  background: var(--border-impact);
  padding: 15px 0;
  transition: ease-in-out 0.4s;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background: var(--hover-impact);
}
/* main-pic start */
.main-pic {
  background: url("./pics/niagara.jpg");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.main-pic span {
  color: #fff;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.main-pic span:nth-child(1) {
  font-size: 2rem;
}
.main-pic span:nth-child(2) {
  line-height: 2;
}
/* main-pic end */
/* footer start */
.place-to-lay {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: var(--footer-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer end */
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .contact-form {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  /* menu setting start */
  .sidebar {
    display: none;
  }
  .menu-nav {
    display: flex;
  }
  .menu-nav a {
    padding: 10px;
    transition: ease-in-out 0.4s;
  }
  .menu-nav a:hover {
    color: var(--hover-impact);
  }
  /* menu setting end */
  .contact-form {
    width: 50%;
  }
  /* sub-menu start */
  .sub-menu {
    display: none;
  }
  .menu-nav li:hover .sub-menu {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px 15px;
    margin: 8px;
  }

  .menu-nav ul li:hover {
    color: var(--hover-impact);
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
  }
  /*  sub-menu end */
}
